<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="card-detail">
  <div class="card-detail-body">
    <%= title %>
    <%== content %>
  </div>
</div>
