<div class="container">
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <pre class="m-0 p-0"><code class="wrapped json p-0 m-0"><%= JSON.pretty_generate command %></code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
