<div class="data-table-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>ID</th>
        <th>Dispatched</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%==
        each_partial(
          @command_messages,
          'commands/command',
          local: :command_message
        )
      %>
    </tbody>
  </table>

  <p class="table_metadata">
    Watermark offsets:
    <%== badge_secondary "high: #{@watermark_offsets.high}" %>
    <%== badge_secondary "low: #{@watermark_offsets.low}" %>
  </p>
</div>
