<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title "Topic #{@topic.topic_name} - Increase Partitions" %>

<div class="space-y-4">
  <%== partial 'topics/distributions/edit_warnings' %>

  <% if @form_error %>
    <%== partial 'shared/rdkafka_form_error_alert_box' %>
  <% else %>
    <%== partial 'topics/distributions/edit_hints' %>
  <% end %>

  <%== partial 'topics/distributions/edit_form' %>
</div>
