<div class="col-span-12 mb-3">
  <h2 class="h2">
    <%= consumer_group.id %>
  </h2>

  <div class="data-table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th>Subscription group</th>
          <th><%== sort_link('Topic', :name) %></th>
          <th>Type</th>
          <th>Assigned</th>
          <th><%== sort_link(:active?) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% consumer_group.topics.each do |topic| %>
          <%==
            partial(
              'routing/topic',
              locals: {
                subscription_group: topic.subscription_group,
                consumer_group: consumer_group.id,
                topic: topic
              }
            )
          %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
