<% view_title 'Topics' %>

<% if @topics.empty? %>
  <%== partial 'explorer/no_topics' %>
<% else %>
  <div class="topic-tiles">
    <%==
      each_partial(
        @topics,
        'topics/topic'
      )
    %>
  </div>
<% end %>
