<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">
        The payload cannot be displayed.
      </h4>
      <p>
        Encryption is enabled.
      </p>
      <hr>
      <p class="mb-0">
        When encryption is enabled, the payload is not visible via the web UI.

        Please set the <code>ui.decrypt</code> config option to <code>true</code> if you want the payload to be visible here.
      </p>
    </div>
  </div>
</div>
