<div class="alert alert-warning" role="alert">
  We could not deserialize the <%= attribute %> due to the following error:
  <code><%= error.class %></code>. Raw <%= attribute %> displayed instead.
</div>
