<div class="container mb-5">
  <div class="row">
    <h3>Explorer</h3>
  </div>
  <hr>
</div>

<div class="container">
  <% if @topics.empty? %>
    <%== partial 'explorer/no_topics' %>
  <% else %>
    <div class="row mb-5 row-cols-1 row-cols-md-4 g-4">
      <%==
        each_partial(
          @topics,
          'explorer/topic'
        )
      %>
    </div>
  <% end %>
</div>
