<div class="container mb-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert">
        This process has been stopped.
        The state presented here shows the last report available.
      </div>
    </div>
  </div>
</div>
