<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="col-span-12">
  <div class="mb-6">
    <%==
      alert_error(
        'This operation cannot be performed. Consumer pauses can only be managed using Web UI when the consumer is in a running state.'
      )
    %>
  </div>
</div>
