<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= consumers_path('overview') %>">
    Consumers
  </a>
</li>

<% if current_path.include?('/controls') %>
  <li>
    <a href="<%= consumers_path('controls') %>">
      Controls
    </a>
  </li>
<% end %>
