<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<tr>
  <td class="text-muted">
    <%= message.partition %>
  </td>

  <td class="text-muted">
    <%= message.offset %>
  </td>

  <td colspan="7" class="text-center text-muted">
    This offset does not contain any recognized data type.
  </td>

  <td class="options">
    <%==
      link_button_primary_sm(
        icon(:info_circle),
        explorer_topics_path(message.topic, message.partition, message.offset),
        title: 'Display details of this message'
      )
    %>
  </td>
</tr>
