<% alert_box_info('Recurring Tasks Data Unavailable') do %>
  <p class="mb-2">
    We are unable to display data related to recurring tasks. Please ensure that:
  </p>

  <ul class="list-disc list-inside">
    <li>Recurring Tasks are enabled in your routing configuration.</li>
    <li>The necessary Kafka topics have been created.</li>
    <li>A schedule has been defined.</li>
    <li>Your Karafka server, with schedule awareness, is running and has persisted the state.</li>
  </ul>
<% end %>
