<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= consumers_path('overview') %>">
    Consumers
  </a>
</li>

<% if current_path.include?('/commands') %>
  <li>
    <a href="<%= consumers_path('commands') %>">
      Commands
    </a>
  </li>
<% end %>

<% if @command_message %>
  <li>
    <a href="<%= consumers_path('commands', @command_message.offset) %>">
      <%= @command_message.offset %>
    </a>
  </li>
<% end %>
