<li>
  <a href="<%= root_path('consumers/overview') %>">
    Consumers
  </a>
</li>

<% if current_path.include?('/commands') %>
  <li>
    <a href="<%= root_path('commands') %>">
      Commands
    </a>
  </li>
<% end %>

<% if @command_message %>
  <li>
    <a href="<%= root_path('commands', @command_message.offset) %>">
      <%= @command_message.offset %>
    </a>
  </li>
<% end %>
