<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<tr>
  <td colspan="100" class="text-center text-muted">
   Incompatible command schema. This command message schema does not match the Karafka Web UI schema.
  </td>
</tr>
