<li>
  <a href="<%= root_path('jobs') %>">
    Jobs
  </a>
</li>

<% if current_path.include?('/running') %>
  <li>
    <a href="<%= root_path('jobs/running') %>">
      Running
    </a>
  </li>
<% end %>

<% if current_path.include?('/pending') %>
  <li>
    <a href="<%= root_path('jobs/pending') %>">
      Pending
    </a>
  </li>
<% end %>
