<li>
  <a href="<%= root_path('routing') %>">
    Routing details
  </a>
</li>

<% if @topic %>
  <li>
    <a href="<%= root_path('routing', @topic.id) %>">
      <%=
        title = [@topic.consumer_group.id, @topic.subscription_group, @topic.name].join(': ')
      %>
    </a>
  </li>
<% end %>
