<div class="alert alert-warning mt-4 mb-4" role="alert">
  This view only supports aggregating data from up to
  <strong><%= @max_aggregable_partitions %></strong>
  partitions.
  Any partitions beyond this limit will not be visible.
</div>
