<p class="text-end mb-4">
  Partitions:
  <span class="badge bg-secondary mt-1 mb-1">
    total: <%= @partitions_count %>
  </span>

  <span class="badge bg-secondary mt-1 mb-1">
    visible:
    <%= [@active_partitions.first, @active_partitions.last].uniq.join(' to ') %>
  </span>
</p>
