<%
  republish_path = root_path('messages', @message.topic, @message.partition, @message.offset, 'republish')
  surrounding_path = explorer_path(@message.topic, @message.partition, @message.offset, 'surrounding')
%>

<div class="row mb-0">
  <div class="col-sm-12 text-end">
    <a href="<%= surrounding_path %>" class="btn btn-secondary btn-sm float-end ms-1">
      &#8651;
      Surrounding
    </a>

    <% if @visibility_filter.republish?(@message) %>
      <form action="<%= republish_path %>" method="post" class="confirm-action float-end">
        <%== csrf_tag(republish_path) %>
        <input type="submit" value="&#10227; Republish" class="btn btn-primary btn-sm"/>
      </form>
    <% end %>
  </div>
</div>
