<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= root_path('dlq') %>">
    Dead Letter Queue topics
  </a>
</li>
