<% unless Karafka.pro? %>
  <div id="help-us">
    <div class="mb-4">
      <div class="container">
        <div class="alert alert-light">
          Please help us make the Karafka ecosystem better by subscribing to our
          <a target="_blank" href="https://karafka.io/#become-pro">Pro</a>
          offering.
        </div>
      </div>
    </div>
  </div>
<% end %>
