<% unless Karafka.pro? %>
  <div id="help-us" class="col-span-12">
    <div class="mb-3">
      <div class="alert alert-info">
        <%== icon(:light_bulb) %>
        <span>
          <% linked = '<a target="_blank" href="https://karafka.io/#become-pro" class="text-blue-500 underline">Pro</a>' %>
          <%== Karafka::Web.slogans.sample.gsub('Pro ', "#{linked} ").gsub('Pro.', "#{linked}.") %>
        </span>
      </div>
    </div>
  </div>
<% end %>
