<a class="flex items-center ml-6" href="<%= root_path %>">
  <img src="<%= asset_path('images/favicon.ico') %>" alt="Karafka icon" class="sidebar-nav-icon w-6 h-6">
  <img src="<%= asset_path('images/logo.svg') %>" alt="Karafka logo" class="sidebar-nav-logo ml-2 w-auto h-4">
</a>
