<div>
  <button class="py-1 px-3 rounded-md text-sm hover:bg-gray-200 active" title="Toggle theme" id="theme-selector">
    <span id="theme-selector-light" class="hidden">
      <%== icon(:sun) %>
    </span>

    <span id="theme-selector-dark" class="hidden">
      <%== icon(:moon) %>
    </span>
  </button>

  <button class="py-1 px-3 rounded-md text-sm hover:bg-gray-200" title="Toggle live poll" id="live-poll">
    <%== icon(:refresh) %>
  </button>
</div>
