<div id="controls">
  <button
    class="active"
    title="Toggle theme" id="theme-selector"
  >
    <span id="theme-selector-light" class="hidden">
      <%== icon(:sun) %>
    </span>

    <span id="theme-selector-dark" class="hidden">
      <%== icon(:moon) %>
    </span>
  </button>

  <button
    title="Toggle live poll"
    id="live-poll"
  >
    <%== icon(:refresh) %>
  </button>
</div>
