<div class="container">
  <footer class="footer mt-auto d-flex flex-wrap justify-content-between align-items-center pt-4 py-3 my-3 ps-3 pe-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="https://karafka.io" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="<%= asset_path('images/logo-gray.svg') %>" style="max-width: 80px; margin-top: -5px">
      </a>

      <span class="text-muted">
        &#169;
        2015 -
        <%= Date.today.year %>
        <a href="https://mensfeld.pl" class="text-muted">Maciej Mensfeld</a>
      </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://karafka.io/docs">Docs</a></li>
      <li class="ms-3"><a class="text-muted" href="https://karafka.io/#support">Support</a></li>
      <li class="ms-3"><a class="text-muted" href="https://github.com/karafka/karafka">Github</a></li>
    </ul>
  </footer>
</div>
