<div>
  <button class="py-1 px-3 rounded-md text-sm hover:bg-gray-200" title="Toggle live poll" id="live-poll">
    <%== icon(:refresh) %>
  </button>
</div>

<% if false %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <span class="btn btn-success btn-sm d-none" id="live-poll" data-on="Live polling" data-off="Live poll">
        Live polling
      </a>
    </li>
  </ul>
<% end %>
