<div class="alert alert-info" role="alert">
  <p>
    This page does not contain any data.
  </p>

  <p class="mb-0">
    Try going to the previous or the first page to get meaningful results.
  </p>
</div>
