<li>
  <a href="<%= root_path('cluster') %>">
    Cluster informations
  </a>
</li>

<% if current_path.include?('/brokers') %>
  <li>
    <a href="<%= root_path('cluster', 'brokers') %>">
      Brokers
    </a>
  </li>
<% end %>

<% if current_path.include?('/replication') %>
  <li>
    <a href="<%= root_path('cluster', 'replication') %>">
      Replication
    </a>
  </li>
<% end %>
