<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= root_path('cluster', 'brokers') %>"
      class="custom-tab <%= nav_class(include: 'brokers') %>"
    >
      Brokers
    </a>

    <a
      href="<%= root_path('cluster', 'replication') %>"
      class="custom-tab <%= nav_class(include: 'replication') %>"
    >
      Replication
    </a>
  </div>
</div>
