<%== view_title('Cluster informations') %>

<%== partial 'cluster/tabs' %>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-12">
        <table class="processes bg-white table table-hover table-bordered table-striped">
          <thead>
            <tr class="align-middle">
              <th>Broker id</th>
              <th>Name</th>
              <th>Port</th>
            </tr>
          </thead>
          <tbody>
            <%==
              each_partial(
                @brokers,
                'cluster/broker'
              )
            %>
          </tbody>
        </table>
    </div>
  </div>
</div>
