<div class="float-end text-end">
  <% if @visibility_filter.download?(@message) %>
    <a
      href="<%= root_path('messages', @message.topic, @message.partition, @message.offset, 'download') %>"
      class="btn btn-secondary btn-sm"
    >
      &#8659; Download raw
    </a>
  <% end %>

  <% if @visibility_filter.export?(@message) && !@payload_error %>
    <a
      href="<%= root_path('messages', @message.topic, @message.partition, @message.offset, 'export') %>"
      class="btn btn-secondary btn-sm"
    >
      &#8659; Export as JSON
    </a>
  <% end %>
</div>
