<div class="alert-box alert-box-success">
  <div class="alert-box-header">
    <div>
      <%== icon(:check_circle) %>

      <span>
        <%= title %>
      </span>
    </div>
  </div>

  <div class="alert-box-content">
    <%== description %>
  </div>
</div>
