<div class="alert-box alert-box-warning">
  <div class="alert-box-header">
    <div>
      <%== icon(:exclamation_triangle) %>

      <span>
        <%= title %>
      </span>
    </div>
  </div>

  <div class="alert-box-content">
    <%== description %>
  </div>
</div>
