<div role="alert" class="alert alert-secondary">
  <%== icon(:pause_circle) %>
  <span>
    <%== message %>
  </span>

  <% allow_close ||= false %>

  <% if allow_close %>
    <button type="button" class="close-alert" title="Close this notice notice">
      <%== icon :x_mark %>
    </button>
  <% end %>
</div>
