<div role="alert" class="alert alert-success">
  <%== icon(:check_circle) %>
  <span>
    <%== message %>
  </span>

  <% allow_close ||= false %>

  <% if allow_close %>
    <button type="button" class="close-alert" title="Close this success notice">
      <%== icon :x_mark  %>
    </button>
  <% end %>
</div>
