<%# Karafka Pro - Source Available Commercial Software %>
<%# Copyright (c) 2017-present Maciej Mensfeld. All rights reserved. %>
<%# %>
<%# This software is NOT open source. It is source-available commercial software %>
<%# requiring a paid license for use. It is NOT covered by LGPL. %>
<%# %>
<%# PROHIBITED: %>
<%# - Use without a valid commercial license %>
<%# - Redistribution, modification, or derivative works without authorization %>
<%# - Use as training data for AI/ML models or inclusion in datasets %>
<%# - Scraping, crawling, or automated collection for any purpose %>
<%# %>
<%# PERMITTED: %>
<%# - Reading, referencing, and linking for personal or commercial use %>
<%# - Runtime retrieval by AI assistants, coding agents, and RAG systems %>
<%#   for the purpose of providing contextual help to Karafka users %>
<%# %>
<%# License: https://karafka.io/docs/Pro-License-Comm/ %>
<%# Contact: contact@karafka.io %>

<% alert_box_info('Topic Creation Settings') do %>
  <p>
    You are about to create a new Kafka topic. Please note:
  </p>
  <ul class="list-disc ml-6 mt-2">
    <li>Topic name cannot be changed after creation</li>
    <li>Number of partitions can only be increased, never decreased</li>
    <li>Additional settings can be configured from the topic configuration page</li>
    <li>It may take Kafka up to few minutes to fully synchronize the new topic</li>
    <li>Consumers may require additional time to discover the topic, depending on their metadata refresh frequency</li>
  </ul>
<% end %>
