<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% if @management_active %>
  <div class="col-span-12 flex justify-end space-x-2 mb-6">
    <a
      class="btn btn-primary btn-sm"
      href="<%= topics_path('new') %>"
      title="Create new topic"
    >
      <%== icon(:plus) %>
      Create Topic
    </a>
  </div>
<% end %>
