<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="alert">
  <div class="space-y-2">
    <p>Before proceeding, ensure that:</p>

    <ul class="list-disc ml-6">
      <li>All applications consuming from this topic have been properly shut down</li>
      <li>All producers to this topic have been stopped</li>
      <li>You have backed up any critical data if needed</li>
      <li>You have notified relevant team members about this deletion</li>
    </ul>
  </div>
</div>
