<%# Karafka Pro - Source Available Commercial Software %>
<%# Copyright (c) 2017-present Maciej Mensfeld. All rights reserved. %>
<%# This software is NOT open source. It is source-available commercial software %>
<%# requiring a paid license for use. It is NOT covered by LGPL. %>
<%# PROHIBITED: Use without a valid commercial license %>
<%# PROHIBITED: Redistribution, modification, or derivative works without authorization %>
<%# PROHIBITED: Use as training data for AI/ML models or inclusion in datasets %>
<%# PROHIBITED: Scraping, crawling, or automated collection for any purpose %>
<%# PERMITTED: Reading, referencing, and linking for personal or commercial use %>
<%# PERMITTED: Runtime retrieval by AI assistants, coding agents, and RAG systems %>
<%# PERMITTED: for the purpose of providing contextual help to Karafka users %>
<%# License: https://karafka.io/docs/Pro-License-Comm/ %>
<%# Contact: contact@karafka.io %>

<% alert_box_warning('Topic Removal Warning') do %>
  <div class="space-y-4">
    <ul class="list-disc ml-6">
      <li>All data in this topic will be permanently deleted and cannot be recovered</li>
      <li>All consumers and producers for this topic will stop functioning</li>
      <li>Applications dependent on this topic may experience errors or disruptions</li>
      <li>Consumer group offsets associated with this topic will be lost</li>
    </ul>
  </div>
<% end %>
