<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title "Topic #{@topic.topic_name} Removal Confirmation" %>

<div class="space-y-4">
  <%== partial 'topics/topics/delete_warning' %>
  <%== partial 'topics/topics/delete_hints' %>
  <%== partial 'topics/topics/delete_form' %>
</div>
