<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title 'Topics' %>

<%== partial 'topics/topics/create_button' %>

<% if @topics.empty? %>
  <%== partial 'explorer/explorer/no_topics' %>
<% else %>
  <div class="topic-tiles">
    <%==
      each_partial(
        @topics,
        'topics/topics/topic'
      )
    %>
  </div>
<% end %>
