<div class="topic-tile">
  <div class="topic-tile-body">
    <p class="topic-tile-text">
      <a href="<%= explorer_path(topic[:topic_name]) %>" class="topic-tile-link">
          <%= topic[:topic_name] %> /
          <%= topic[:partition_count] %>
      </a>
    </p>
  </div>
</div>
