<div class="container">
  <%== partial 'explorer/message/message_actions' %>

  <div class="row mb-4">
    <div class="col-sm-12">
      <h5 class="mb-2">
        Metadata
      </h5>
      <hr/>

    </div>
  </div>

  <%== partial 'explorer/message/metadata' %>
</div>

<div class="container">
  <div class="row mb-4">
    <div class="col-sm-12">
      <h5 class="mb-2 float-start">
        Payload
      </h5>

      <%== partial 'explorer/message/payload_actions' %>

      <div class="clearfix"></div>

      <hr/>
    </div>
  </div>

  <%== partial 'explorer/message/payload' %>
</div>
