<div class="container mb-4">
  <div class="row">
    <div class="col-sm-6 ms-0 ps-0">
      <% if @messages && !@messages.empty? %>
        <a href="<%= explorer_path(@topic_id, 'recent') %>" class="btn btn-secondary btn-sm" title="Display the most recent message for this partition">
          &#x2192; Recent
        </a>
      <% end %>
    </div>

    <div class="col-sm-6 text-end me-0 pe-0">
      Partitions:
      <span class="badge bg-secondary mt-1 mb-1">
        total: <%= @partitions_count %>
      </span>

      <span class="badge bg-secondary mt-1 mb-1">
        visible:
        <%= [@active_partitions.first, @active_partitions.last].uniq.join(' to ') %>
      </span>
    </div>
  </div>
</div>
