<% view_title 'Support' %>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  <div class="card-support">
    <h3>
      <%== icon(:book_open) %>

      <span>Karafka Documentation</span>
    </h3>

    <p>
      Find comprehensive guides and documentation to help you start working with Karafka as quickly as possible, as well as support if you get stuck.
    </p>

    <a
      href="https://karafka.io/docs"
      target="_blank"
    >Go to Karafka Docs</a>
  </div>

  <div class="card-support">
    <h3>
      <%== icon(:slack) %>

      <span>Slack Channel</span>
    </h3>

    <p>
      Join our Slack community to connect with other users and get help and advice from our team and the community.
    </p>

    <a
      href="https://karafka.io/slack"
      target="_blank"
    >Join Karafka Slack</a>
  </div>

  <div class="card-support">
    <h3>
      <%== icon(:globe) %>

      <span>Karafka Website</span>
    </h3>

    <p>
      Visit the official Karafka website for more information about the framework, features, and use cases.
    </p>

    <a
      href="https://karafka.io"
      target="_blank"
    >Go to Karafka Website</a>
  </div>

  <div class="card-support">
    <h3>
      <%== icon(:github) %>

      <span>Github Repository</span>
    </h3>

    <p>
      Check out the Karafka source code, contribute to the project, or open an issue if you find a bug.
    </p>

    <a
      href="https://github.com/karafka/karafka"
      target="_blank"
    >Go to Karafka GitHub</a>
  </div>
</div>
