<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= root_path('scheduled_messages') %>">
    Scheduled Messages
  </a>
</li>

<% if current_path.include?('/schedules') %>
  <li>
    <a href="<%= root_path('scheduled_messages/schedules') %>">
      Schedules
    </a>
  </li>
<% end %>

<% if @schedule_name %>
  <li>
    <a href="<%= root_path("scheduled_messages/schedules/#{@schedule_name}") %>">
      <%= @schedule_name %>
    </a>
  </li>
<% end %>
