<p class="mb-2">
  High latency detected when connecting to the Kafka cluster from the Web-UI.
</p>

<p class="mb-2">
  Kafka is not designed to perform optimally under high network latencies; even when configurations seem appropriate, you may still encounter disconnects and other unexpected issues.
</p>

<p>
  It took Web-UI <strong><%= details[:time].round(2) %> ms</strong> to get the cluster info.
</p>
