<p class="mb-2">
  You are using the OSS version of the Karafka ecosystem, and some of the Karafka ecosystem features are unavailable in the OSS version.
</p>

<p>
  Please help us make the Karafka ecosystem better by subscribing to our
  <a target="_blank" href="https://karafka.io/#become-pro">Pro</a>
  offering.
</p>
