<p class="mb-2">
  It is recommended to have a replication factor greater than <code>1</code> for all the Karafka Web UI topics in a production environment.
</p>

<p>
  Current replication factors for Karafka Web UI topics:
</p>

<ul class="list-disc m-5">
  <% details.each do |name, details| %>
    <li>
      <code><%= name %></code>: <code><%= details[:replication] %></code>
    </li>
  <% end %>
</ul>

<p>
  Please ensure all those topics have a replication factor of at least <code>2</code>.
</p>
