<% visible = @visibility_filter.headers?(message) %>
<% message.metadata.headers.each do |k, v| %>
  <tr>
    <td>
      <%= "headers.#{k}" %>
    </td>
    <td>
      <% if visible %>
        <%= object_value_to_s(v) %>
      <% else %>
        <span class="text-muted">[Filtered]</span>
      <% end %>
    </td>
  </tr>
<% end %>
