<tr>
  <td>
    <% if @safe_key.success? %>
      key
    <% else %>
      raw_key
    <% end %>
  </td>
  <td>
    <% if @visibility_filter.key?(message) %>
      <% if @safe_key.success? %>
        <%= @safe_key.result %>
      <% else %>
        <%= message.raw_key %>
      <% end %>
    <% else %>
      <span class="text-muted">[Filtered]</span>
    <% end %>
  </td>
</tr>
