<div class="card border-danger mb-3">
  <div class="card-header text-bg-danger">
    <span>
      <%= title %>
    </span>

    <span class="float-end">
      <span class="badge  text-bg-light">Failure</span>
    </span>
  </div>
  <div class="card-body">
    <%== description %>
  </div>
</div>
