<div class="card text-bg-secondary mb-3">
  <div class="card-header">
    <span>
      <%= title %>
    </span>

    <span class="float-end">
      <span class="badge  text-bg-light">Halted</span>
    </span>
  </div>
</div>
