<div class="card text-bg-alt mb-3">
  <div class="card-header">
    <span>
      <%= title %>
    </span>

    <span class="float-end">
      <span class="badge text-bg-secondary">Info</span>
    </span>
  </div>
  <div class="card-body">
    <%== description %>
  </div>
</div>
