<div class="col">
  <div class="card" >
    <div class="card-body p-2">
      <p class="card-text mb-0 p-2">
        <a href="<%= root_path('explorer', topic[:topic_name], 0) %>">
          <%= topic[:topic_name] %> /
          <%= topic[:partition_count] %>
        </a>
      </p>
    </div>
  </div>
</div>
