<p class="text-end mb-5">
  <%==
    value = number_with_delimiter @aggregated.sum.round, ' '
    badge_primary("Total messages: #{value}")
  %>

  <%== badge_primary("Std dev: #{@aggregated.std_dev}") %>
  <%== badge_primary("Std dev relative: #{@aggregated.std_dev_rel}%") %>

  <% partitions_range = [@active_partitions.first, @active_partitions.last].uniq.join(' to ') %>
  <%== badge_secondary("Partitions: #{partitions_range}") %>
</p>
