<div class="mb-10">
  <%==
    alert_info(
      '
        Due to the number of partitions, distribution results are computed based only on
        data from partitions visible on this page.
      '
    )
  %>
</div>
