<div class="col-span-12">
  <div class="mb-6">
    <%==
      alert_error(
        'This operation cannot be performed. Consumer offsets can only be modified using Web UI when the consumer is in a running state.'
      )
    %>
  </div>
</div>
