<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% view_title @process.id %>

<div class="col-span-12">
  <% if @process.status == 'stopped' %>
    <%== partial 'consumers/consumers/consumer/stopped' %>
  <% end %>

  <%== partial 'consumers/consumers/consumer/tabs' %>

  <% if @process.subscribed? %>
    <%==
      render_each(
        @process.consumer_groups,
        'consumers/partitions/offsets/_consumer_group',
        local: :consumer_group
      )
    %>
  <% else %>
    <%== partial 'consumers/consumers/consumer/no_subscriptions' %>
  <% end %>
</div>
