<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<%== partial 'consumers/commands/metadata/response', locals: { command: command } %>

<h2 class="h2">Details</h2>

<%== partial 'consumers/commands/command_details', locals: { command: command } %>
