<div class="data-table-wrapper">
  <table class="data-table">
    <thead>
      <tr>
        <th>Partition</th>
        <th>Offset</th>
        <th>Timestamp</th>
        <th>Time</th>
        <th>Key</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%==
        each_partial(
          @messages,
          'explorer/message'
        )
      %>
    </tbody>
  </table>

  <%== content_for :table_metadata %>
</div>
