<div class="table-responsive">
  <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
    <thead>
      <tr class="align-middle">
        <th>Partition</th>
        <th>Offset</th>
        <th>Timestamp</th>
        <th>Time</th>
        <th>Key</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%==
        each_partial(
          @messages,
          'explorer/message'
        )
      %>
    </tbody>
  </table>
</div>
