<div class="alert alert-info bg-white mt-0 mb-6">
  <%== icon(:info_circle) %>
  <p>
    This feature is available only to <a target="_blank" href="https://karafka.io/#become-pro">Pro</a>
    users.
  </p>
</div>
