<div class="container">
  <div class="row">
    <div class="col-sm-12 text-end">
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <a type="button" href="<%= root_path('dashboard') %>" class="btn btn-outline-primary active">
          5 minutes
        </a>

        <a type="button" href="#" class="btn btn-outline-primary disabled" title="Pro feature">
          1 hour
        </a>

        <a type="button" href="#" class="btn btn-outline-primary disabled" title="Pro feature">
          24 hours
        </a>

        <a type="button" href="#" class="btn btn-outline-primary disabled" title="Pro feature">
          7 days
        </a>
      </div>
    </div>
  </div>
</div>
