<div class="container" id="no-search-criteria">
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="mt-4">
        <%==
          alert_danger('Search criteria are not correct. Please fix them.')
        %>
      </div>
    </div>
  </div>
</div>
