<div class="container" id="no-search-criteria">
  <div class="row mb-5">
    <div class="col-sm-12">
      <div class="mt-4">
        <%==
          alert_info('No search criteria provided. Press the Edit button to perform a search.')
        %>
      </div>
    </div>
  </div>
</div>
