<div class="container" id="search-timeout">
  <div class="row mb-2">
    <div class="col-sm-12">
      <div class="">
        <%==
          alert_warning('Search results may be incomplete due to reaching the search timeout limit.')
        %>
      </div>
    </div>
  </div>
</div>
