<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<div class="datepicker-input-wrapper">
  <input
    type="image"
    src="<%= asset_path('images/calendar.svg') %>"
    width="45"
    height="32"
    class="btn-action p-1 opacity-60"
    id="offset-lookup-datepicker"
    value=""
    title="Select a point in time to browse the topic partition data"
    data-target="<%= target %>"
  />
</div>
