<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<% if @partition_id == partition %>
  <option value="<%= root_path('errors', partition) %>" selected>
    <%= partition || 'All' %>
  </option>
<% else %>
  <option value="<%= root_path('errors', partition) %>">
    <%= partition || 'All' %>
  </option>
<% end %>
