<% if @partition_id == partition %>
  <option value="<%= root_path('errors', partition) %>" selected=selected>
<% else %>
  <option value="<%= root_path('errors', partition) %>">
<% end %>
  <%= partition || 'All' %>
</option>
