<div class="col-span-12">
  <div class="card-detail-container">
    <% 6.times do |i| %>
      <div class="card-detail">
        <div class="card-detail-body">
          .card-detail-body title
          <span class="badge badge-sm badge-success">
            some badge
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="mb-6"></div>
