<div class="col-span-12">
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4">
    <div class="card-metric">
      <h3>.card-metric h3</h3>
      <ul>
        <li>
          Val1:

          <span class="badge badge-success">
            .badge .badge-sm .badge-success
          </span>
        </li>

        <li>
          Val2:
          <span class="badge badge-secondary">
            .badge .badge-sm .badge-secondary
          </span>
        </li>

        <li>
          Val3:
          <span class="badge badge-primary">
            .badge .badge-sm .badge-primary
          </span>
        </li>
      </ul>

        <p class="mt-4 text-right">
          <span class="badge badge-info">.text-right badge</span>
        </p>
    </div>

    <div class="card-metric">
      <h3>.card-metric h3</h3>
      <ul>
        <li>
          Val1:

          <span class="badge badge-success">
            .badge .badge-sm .badge-success
          </span>
        </li>

        <li>
          Val2:
          <span class="badge badge-secondary">
            .badge .badge-sm .badge-secondary
          </span>
        </li>

        <li>
          Val3:
          <span class="badge badge-primary">
            .badge .badge-sm .badge-primary
          </span>
        </li>
      </ul>

        <p class="mt-4 text-right">
          <span class="badge badge-info">.text-right badge</span>
        </p>
    </div>

    <div class="card-metric">
      <h3>.card-metric h3</h3>
      <ul>
        <li>
          Val1:

          <span class="badge badge-success">
            .badge .badge-sm .badge-success
          </span>
        </li>

        <li>
          Val2:
          <span class="badge badge-secondary">
            .badge .badge-sm .badge-secondary
          </span>
        </li>

        <li>
          Val3:
          <span class="badge badge-primary">
            .badge .badge-sm .badge-primary
          </span>
        </li>
      </ul>

        <p class="mt-4 text-right">
          <span class="badge badge-info">.text-right badge</span>
        </p>
    </div>

    <div class="card-metric">
      <h3>.card-metric .h3 centered</h3>

      <div class="text-center">
        <span class="badge badge-secondary">
          .badge .badge-sm .badge-secondary
        </span>

        <span class="badge badge-secondary">
          .badge
        </span>

        <span class="badge badge-secondary">
          .badge
        </span>

        <span class="badge badge-secondary">
          .badge
        </span>

        <span class="badge badge-secondary">
          .badge
        </span>
      </div>
    </div>
  </div>
</div>
<div class="mb-6"></div>
