<div class="col-span-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="card-support">
      <h3>
        <%== icon(:book_open) %>

        <span>.card-support h3 span</span>
      </h3>

      <p>
        Some p fine text
      </p>

      <a
        href="https://karafka.io/docs"
        target="_blank"
      >Link to somewhere</a>
    </div>

    <div class="card-support">
      <h3>
        <%== icon(:book_open) %>

        <span>.card-support h3 span</span>
      </h3>

      <p>
        Some p fine text
      </p>

      <a
        href="https://karafka.io/docs"
        target="_blank"
      >Link to somewhere</a>
    </div>
  </div>
</div>

<div class="mb-6"></div>
