<div class="col-span-12">
  <div class="mb-5 px-4 lg:px-10 text-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 justify-center mb-10">
      <div class="card-summary-container">
        <div class="card-summary">
          <div class="card-summary-body">
            <div class="card-summary-value">
              .card-summary-value
            </div>
            <div class="card-summary-title">
              .card-summary-title
            </div>
          </div>
        </div>
      </div>

      <div class="card-summary-container">
        <div class="card-summary">
          <div class="card-summary-body">
            <div class="card-summary-value">
              .card-summary-value
            </div>
            <div class="card-summary-title">
              .card-summary-title
            </div>
          </div>
        </div>
      </div>

      <div class="card-summary-container">
        <div class="card-summary">
          <div class="card-summary-body">
            <div class="card-summary-value">
              .card-summary-value
            </div>
            <div class="card-summary-title">
              .card-summary-title
            </div>
          </div>
        </div>
      </div>

      <div class="card-summary-container">
        <div class="card-summary">
          <div class="card-summary-body">
            <div class="card-summary-value">
              .card-summary-value
            </div>
            <div class="card-summary-title">
              .card-summary-title
            </div>
          </div>
        </div>
      </div>

      <div class="card-summary-container">
        <div class="card-summary">
          <div class="card-summary-body">
            <div class="card-summary-value">
              .card-summary-value
            </div>
            <div class="card-summary-title">
              .card-summary-title
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-6"></div>
