<pre class="code">
<code>code
/mnt/software/Karafka/karafka/lib/karafka/server.rb:102:in `stop'
/mnt/software/Karafka/karafka/lib/karafka/server.rb:37:in `block in run'
/mnt/software/Karafka/karafka/lib/karafka/process.rb:91:in `each'
/mnt/software/Karafka/karafka/lib/karafka/process.rb:91:in `block (2 levels) in trap_signal'
</code></pre>
</div>
<div class="mb-6"></div>
