<div id="pagination">
  <nav class="flex justify-center">
    <ul class="pagination flex space-x-1">
      <li class="disabled">
        <a class="btn font-normal btn-disabled" href="#">
          <span>«</span>
        </a>
      </li>

      <li class="disabled">
        <a class="btn font-normal btn-disabled" href="#">
          <span>‹ Prev</span>
        </a>
      </li>

        <li class="active">
          <a class="btn btn-active font-normal" href="#">
            <span>
              1
            </span>
          </a>
        </li>

      <li class="">
        <a class="btn font-bold font-normal" href="#">
          <span>Next ›</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mb-6"></div>
