<div>
  <div class="data-table-wrapper">
    <table class="data-table">
      <thead>
        <tr>
          <th>
            .row-table
            Header 1 with sort
            <%== sort_link('Partition', :id) %>
          </th>
          <th>
            Header 2
          </th>
          <th>
            Header 3
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="status-row-running">
          <td>.status-row-running (no special left border)</td>
          <td>.status-row-running (no special left border)</td>
          <td>.status-row-running (no special left border)</td>
        </tr>

        <tr class="status-row-quiet">
          <td>.status-row-quiet</td>
          <td>.status-row-quiet</td>
          <td>.status-row-quiet</td>
        </tr>

        <tr class="status-row-quieting">
          <td>.status-row-quiet</td>
          <td>.status-row-quiet</td>
          <td>.status-row-quiet</td>
        </tr>

        <tr class="status-row-stopping">
          <td>.status-row-stopping</td>
          <td>.status-row-stopping</td>
          <td>.status-row-stopping</td>
        </tr>

        <tr class="status-row-stopped">
          <td>.status-row-stopped</td>
          <td>.status-row-stopped</td>
          <td>.status-row-stopped</td>
        </tr>

        <tr class="status-row-warning">
          <td>.status-row-warning</td>
          <td>.status-row-warning</td>
          <td>.status-row-warning</td>
        </tr>

        <tr class="status-row-error">
          <td>.status-row-error</td>
          <td>.status-row-error</td>
          <td>.status-row-error</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="mb-6"></div>
