<div class="tab-container">
  <a href="#" class="custom-tab active">
    .custom-tab .active
  </a>

  <a href="#" class="custom-tab">
    .custom-tab
  </a>

  <a href="#" class="custom-tab">
    .custom-tab
  </a>
</div>
<div class="mb-6"></div>
