<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= root_path('consumers/overview') %>">
    Consumers
  </a>
</li>

<li>
  <a href="<%= root_path('consumers', @process.id, 'subscriptions') %>">
    <%== truncate(@process.id, strategy: :middle) %>
  </a>
</li>

<li>
  <a href="<%= root_path('consumers', @process.id, 'offsets') %>">
    Offsets
  </a>
</li>
