<li>
  <a href="<%= root_path('errors') %>">
    Errors
  </a>
</li>

<% if @offset %>
  <li>
    <a href="<%= root_path('errors', @partition_id, @offset) %>">
      <%= "Offset #{@offset}" %>
    </a>
  </li>
<% end %>
