<p class="text-end mb-4">
  Watermark offsets:
  <span class="badge bg-secondary mt-1 mb-1">
    high: <%= @watermark_offsets.high %>
  </span>

  <span class="badge bg-secondary mt-1 mb-1">
    low: <%= @watermark_offsets.low %>
  </span>
</p>
