<div class="row mb-4">
  <div class="col-sm-12">
    <h4 class="mb-2">
      <%= consumer_group.id %>
    </h4>
    <hr/>
  </div>
</div>

<div class="row mb-5">
  <div class="col-sm-12">
    <table class="processes bg-white table table-hover table-bordered table-striped mb-0 align-middle">
      <thead>
        <tr class="align-middle">
          <th>Subscription group</th>
          <th>Topic</th>
          <th>Type</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% consumer_group.topics.each do |topic| %>
          <%==
            partial(
              'routing/topic',
              locals: {
                subscription_group: topic.subscription_group,
                topic: topic
              }
            )
          %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
