<% branding_cfg = Karafka::Web.config.ui.branding %>
<% if branding_cfg.label %>
  <div class="branding-label text-left mt-4 ml-6">
    <%==
      public_send(
        :"badge_#{branding_cfg.type}",
        branding_cfg.label
      )
    %>
  </div>

  <div class="branding-mark text-left mt-4 ml-6">
    <%==
      public_send(
        :"badge_#{branding_cfg.type}",
        branding_cfg.label[0]
      )
    %>
  </div>
<% end %>
