<p class="mb-2">
  Karafka Web-UI is not part of your <code>karafka.rb</code>.
</p>

<p>
  Please follow the
  <a href="https://karafka.io/docs/Web-UI-Getting-Started/">setup instructions</a> and make sure that Karafka Web-UI is enabled.
</p>
