<% if details[:issue_type] == :deserialization %>
  <p class="mb-2">
    The initial state of the consumers appears to be corrupted.
  </p>

  <p class="mb-2">
    This issue typically arises when invalid messages have been sent to the Karafka consumers' state topic or when the topic has been populated with data from a newer Karafka Web UI without updating it.
  </p>

  <p>
    To resolve this, please first attempt to upgrade the Karafka Web UI. If the problem persists, execute <code>bundle exec karafka-web reset</code> to reset the Web UI.
  </p>
<% else %>
  <p class="mb-2">
    The initial consumers state for the Web UI was not created.
  </p>

  <p class="mb-2">
    It means that the <code>bundle exec karafka-web migrate</code> was not executed or failed.
  </p>

  <p>
    To fix this, you need to ensure that the <code>bundle exec karafka-web migrate</code> runs successfully.
  </p>
<% end %>
