<p>
  The initial state for the Web UI was not created.
</p>

<p>
  It means that the <code>bundle exec karafka-web install</code> was not executed or failed.
</p>

<p>
  To fix this, you need to ensure that the <code>bundle exec karafka-web install</code> runs successfully.
</p>
