<p>
  The initial consumers metrics for the Web UI were not created.
</p>

<p>
  It means that the <code>bundle exec karafka-web install</code> was not executed or failed.
</p>

<p class="mb-0">
  To fix this, you need to ensure that the <code>bundle exec karafka-web install</code> runs successfully.
</p>
