<p>
  The initial state for the Web UI was not created.
</p>

<p>
  It means that the <code>bundle exec karafka-web install</code> was not executed or failed.
</p>

<p>
  To fix this, you can either:
</p>

<ul>
  <li>Run <code>bundle exec karafka-web install</code></li>
  <li>Run at least one Karafka consumer process</li>
</ul>

<p class="mb-0">
  Any of the above, when successful, will bootstrap the initial state.
</p>
