<p class="mb-2">
  None of the <code>karafka server</code> processes is subscribed to handle the
  <code><%= Karafka::Web.config.topics.consumers.reports %></code> topic data aggregations.
</p>

<p>
  If you are limiting the topics you consume using the <a href="https://karafka.io/docs/CLI/#limiting-consumer-groups-used-per-process" target="_blank">limiting API</a>, please include the Karafka Web consumer group and the <code><%= Karafka::Web.config.topics.consumers.reports %></code> topic.
</p>
