<main class="flex items-center justify-center min-h-screen">
  <div id="content" class="max-w-2xl w-full mx-auto">
    <div class="flex items-center justify-center vh-100">
      <div class="text-center">
        <h1 class="text-8xl font-bold">403</h1>

        <p class="text-3xl mt-5">
          <span class="text-red-500">Oops!</span> Not permitted.
        </p>

        <div class="mt-5">
          <p class="mb-10 text-lg font-light">
            You don't have permission to view this page.
          </p>

          <p class="text-lg font-light mb-5">Please make sure, that:</p>

          <ul class="list-disc text-left text-lg mb-10 pl-5 font-light">
            <li>You have visited the <a href="<%= root_path('status') %>" class="text-blue-500 underline">Status</a> page to troubleshoot any potential issues</li>
            <li>You are authorized to access the resource you requested</li>
            <li>Web UI configuration permits the action you requested</li>
          </ul>

          <p>
            <a href="<%= root_path %>" class="btn btn-primary mr-2 rounded-md py-1">Go Home</a>
            <a href="<%= root_path('status') %>" class="btn btn-success text-white rounded-md">Status page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
