<main>
  <div id="content">
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="error-message text-center">
        <h1 class="display-1 fw-bold">403</h1>

        <p class="fs-3 md-5">
          <span class="text-danger">
            Oops!
          </span>
          Not permitted.
        </p>

        <div class="lead">
          <p class="mb-5">
            You don't have permission to view this page.
          </p>

          <p>
            Please make sure, that:
          </p>

          <ul class="mb-5 text-start">
            <li>You have visited the <a href="<%= root_path('status') %>">Status</a> page to troubleshoot any potential issues</li>
            <li>You are authorized to access the resource you requested</li>
            <li>Web UI configuration permits the action you requested</li>
          </ul>

          <p>
            <a href="<%= root_path %>" class="btn btn-primary">Go Home</a>
            <a href="<%= root_path('status') %>" class="btn btn-success">Status page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
