<main class="flex items-center justify-center min-h-screen">
  <div id="content" class="max-w-2xl w-full mx-auto">
    <div class="flex items-center justify-center vh-100">
      <div class="text-center">
        <h1 class="text-8xl font-bold">Pro feature</h1>

        <p class="text-3xl mt-10">
          <span class="text-red-500">Oops!</span> This Web UI feature is available only to
          <a href="https://karafka.io/#become-pro" target="_blank" class="text-blue-500 underline">Pro</a> users.
        </p>

        <div class="mt-10">
          <p class="mb-10 text-lg font-light">
            Open Source software is great, but it is only sometimes sustainable, especially for projects with high-quality expectations. Please help us make the Karafka ecosystem better by subscribing to our <a target="_blank" href="https://karafka.io/#become-pro" class="text-blue-500 underline">Pro</a> offering.
          </p>

          <p class="text-lg font-light mb-5">Karafka Pro includes:</p>

          <ul class="list-disc text-left text-lg mb-10 pl-5 font-light">
            <li>Enhanced Web UI with all the features</li>
            <li>Topics data explorer</li>
            <li>Enhanced metrics reporting</li>
            <li>High throughput data processing-related features</li>
            <li>At Rest Encryption</li>
            <li>Commercial-friendly license</li>
            <li>Priority support</li>
            <li>Architecture consultations</li>
          </ul>

          <p>
            <a href="<%= root_path %>" class="btn btn-primary mr-2 rounded-md py-1">Go Home</a>
            <a href="https://karafka.io/#become-pro" class="btn btn-success text-white rounded-md" target="_blank">Become Pro!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
