<div id="content">
  <div class="d-flex align-items-center justify-content-center vh-100">

    <div class="error-message text-center">
      <h1 class="display-1 fw-bold">Pro feature</h1>

      <p class="fs-3 md-5">
        <span class="text-danger">
          Oops!
        </span>
        This Web UI feature is available only to
        <a href="karafka.io/#become-pro" target="_blank">Pro</a>
        users.
      </p>

      <div class="lead">
        <p class="mb-5">
          Open Source software is great, but it is only sometimes sustainable, especially for projects with high-quality expectations.

          Please help us make the Karafka ecosystem better by subscribing to our
          <a target="_blank" href="https://karafka.io/#become-pro">Pro</a>
          offering.
        </p>

        <p>
          Karafka Pro includes:
        </p>

        <ul class="mb-5 text-start">
          <li>Enhanced Web UI with all the features</li>
          <li>Topics data explorer</li>
          <li>Enhanced metrics reporting</li>
          <li>High throughput data processing-related features</li>
          <li>At Rest Encryption</li>
          <li>Commercial-friendly license</li>
          <li>Priority support</li>
          <li>Architecture consultations</li>
        </ul>

        <p class="mb-5">
          If you were looking for a given process or other real-time information, the state might have changed, and the information you are looking for no longer exists.
        </p>

        <p>
          <a href="<%= root_path %>" class="btn btn-primary">Go Home</a>
          <a href="https://karafka.io/#become-pro" class="btn btn-success" target="_blank">Become Pro!</a>
        </p>
      </div>
    </div>

  </div>
</div>
