<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<tr class="text-muted">
  <td><%= partition_id %></td>
  <td colspan="<%= colspan %>" class="text-center">
    No data available. Partition may not be assigned or is not being consumed by any active process.
  </td>
</tr>
