<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<p class="table_metadata">
  Last rebalance:
  <%==
    badge(
      relative_time(details[:rebalanced_at])
    )
  %>
</p>
