<tr class="status-row-incompatible">
  <td>
    <p class="text-muted">
      <%== truncate(process.id, strategy: :middle) %>
    </p>
  </td>

  <td colspan="<%= colspan %>" class="text-muted">
    This process uses schema <%= process.schema_version %>
    while Web UI runs on <%= ::Karafka::Web::Tracking::Consumers::Sampler::SCHEMA_VERSION %>.
    Limited functionality until all components are updated to the same version.
  </td>
</tr>
