<div class="tab-container-wrapper">
  <div class="tab-container">
    <a
      href="<%= consumers_path('overview') %>"
      class="custom-tab <%= nav_class(include: 'overview') %>"
    >
      Overview
    </a>

    <button type="button" class="custom-tab disabled cursor-default" title="Available in Karafka Pro" disabled>
      Performance
    </button>

    <button type="button" class="custom-tab disabled cursor-default" title="Available in Karafka Pro" disabled>
      Controls
    </button>

    <button type="button" class="custom-tab disabled cursor-default" title="Available in Karafka Pro" disabled>
      Commands
    </button>
  </div>
</div>
