<%# This code is part of Karafka Pro, a commercial component not licensed under LGPL. %>
<%# See LICENSE for details. %>

<li>
  <a href="<%= topics_path %>">
    Topics
  </a>
</li>

<li>
  <a href="<%= topics_path(@topic.topic_name, 'config') %>">
    <%= @topic.topic_name %>
  </a>
</li>

<li>
  <a href="<%= topics_path(@topic.topic_name, 'offsets') %>">
    Offsets
  </a>
</li>
